@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

.App {
  font-family: "Yusei Magic", sans-serif;
  text-align: center;
}

body {
  background-color: #c4b5fd;
}

#btns {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  margin: 0.3rem;
  border: 1px solid black;
  background-color: #8b5cf6;
  font-weight: 600;
  font-family: "Yusei Magic", sans-serif;
}
#list {
  list-style: none;
}

.name {
  font-weight: bold;
  text-align: center;
  /* max-width: 88%; */
}

#border {
  border: 2.5px solid black;
  text-align: auto;
  background-color: #5b21b6;
  margin: auto;
}

.heading {
  background-color: #5b21b6;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 20px;
  text-align: center;
}
#play {
  padding: 2rem;
}
